.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  color: $white;
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/herobackgr.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  text-align: center;
  margin: 0 auto;
  padding-top: 118px;
  padding-bottom: 118px;
  max-width: 1600px;

  &__header {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    margin-bottom: 30px;
    margin-top: 0px;
  }
  &__button {
    @extend %button;
  }
}
